<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <title>node-crawler</title>
    <script src="../../js/jquery-1.11.1.min.js"></script>
    <link href="../../css/amazeui.min.css" rel="stylesheet" />
    <link href="../../css/ui-dialog.css" rel="stylesheet" />
    <script src="../../js/dialog-plus-min.js"></script>
    <script src="../../js/knockout-3.3.0.debug.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
	<div class="wrap transition" id="Wrap">
        <% include _nav %>
        <section class="am-g list-config">
            <div class="am-u-sm-11 am-u-md-8 am-u-sm-centered">
                <% include _breadcrumb %>
                <div>
                    <% list.forEach(function(element,index){ %>
                        <% switch(index % 5){ 
                           case 0: %>  
                                <a class="am-badge am-badge-primary am-radius"><%=element%></a>
                                <% break; %>
                        <% case 1: %>  
                                <a class="am-badge am-badge-secondary am-radius"><%=element%></a>
                                <% break; %>  
                        <% case 2: %>  
                                <a class="am-badge am-badge-success am-radius"><%=element%></a>
                                <% break; %>
                        <% case 3: %>  
                                <a class="am-badge am-badge-warning am-radius"><%=element%></a>
                                <% break; %> 
                        <% case 3: %>  
                                <a class="am-badge am-badge-danger am-radius"><%=element%></a>
                                <% break; %>         
                        <% } %>


                    <% }) %>
                    
                    <!-- <a class="am-badge am-badge-primary am-radius">Free</a>
                    <a class="am-badge am-badge-secondary am-radius">Secondary</a>
                    <a class="am-badge am-badge-success am-radius">Success</a>
                    <a class="am-badge am-badge-warning am-radius">Warning</a>
                    <a class="am-badge am-badge-danger am-radius">Danger</a> -->
                </div>
                <div class="a_content" style="display: none;">
                    <%= content.content %>
                </div>
                <article data-am-widget="paragraph" id="article_content" class="am-paragraph am-paragraph-default"
                data-am-paragraph="{ tableScrollable: true, pureview: true }">
                  <!-- <%= content.content %> -->
			    </article>
            </div>
            <div data-am-widget="gotop" class="am-gotop am-gotop-default" >
                <a href="#top" title="回到顶部">
                    <span class="am-gotop-title">回到顶部</span>
                      <i class="am-gotop-icon am-icon-chevron-up"></i>
                </a>
            </div>
        </section>
</div>
<script>
    $(function(){
        var str = $(".a_content").text();
        $("#article_content").html(str);
    })
</script>
</body>
</html>